

# Arquivos comuns
*.log
*.tmp
.DS_Store
Thumbs.db

# React Native / React / Expo
**/node_modules/
**/.expo/
**/.expo-shared/
**/.metro-cache/
**/metro-cache/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/package-lock.json
**/yarn.lock

# React build (web)
**/build/
**/dist/

# Spring Boot / Java
**/target/
**/.classpath
**/.project
**/.settings/
**/.mvn/
!**/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
*.class
*.jar
*.war
*.iml
*.pid

# IDEs e editores
**/.idea/
**/.vscode/
